header li{

list-style: none;

}

a:link,a:visited{

text-decoration:none;
background-color: gray;
width: 600px;
display: block;
text-align: center;
border: 1px solid blue;
color: black;
margin-bottom: 1px;
}

a:hover,a:active{

  
    background-color: red;
    color: purple;
    
   
    }